.menu{
    color:aqua;
    padding: 10px;
    margin: 10px;
    background-color: bisque;
    border: blue 1px solid;
    
}
.design{
    display: grid;
    grid-template-columns: repeat(3,1fr);
   
   }